version: '3.8'

services:
  postgres:
    image: postgres:16
    container_name: payroll_db
    environment:
      POSTGRES_DB: payroll_dev
      POSTGRES_USER: dev_user
      POSTGRES_PASSWORD: dev_password
    ports:
      - "5436:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
